.background {

	width: 100%;
	min-height: 100%;
	position: fixed;
	background-image: url("../assets/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#name {

	text-align: center;
	margin-top: 100px;
	color: white;

}


#section {

	width: 860px;
	height: 100px;
	margin-left: 50%;
	transform: translateX(-50%);

}


#yo:hover {
	background-color: grey;
}

#blog:hover {
	background-color: grey;
}


#contacto:hover {
	background-color: grey;
}

h2 {

	width: 250px;
	color: white;
	display: block;
	font-size: 2.5em;
	border: 3px solid white;
	text-align: center;
	height: 50px;
	box-shadow: 0px 0px 5px white;
	border-radius: 5px;

}



@media (min-width: 900px){

	  h2 {
	 		margin-left: 30px;
	 		float: left;
	  }

		#name {
				font-size: 80px;
		}

}

@media (max-width: 900px){

	h2 {
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

@media (min-width: 500px){

	#name {
			font-size: 80px;
	}

}

@media (max-width: 500px){

	#name {
			font-size: 90px;
	}
	
	h2 {
		width: 190px;
	}

	#section {

		height: 250px;
	}
}

@media (min-height: 350px ,max-height: 400px){
	#name {
		margin-top: 5px;
		font-size: 70px;
	}
}

@media (max-height: 350px){
	#name {
		margin-top: 5px;
		font-size: 460px;
	}

	h2 {
		font-size: 1em;
		height: 20px;
		width: 40px;
	}
}




#git {
	width: 64px;
	height: 64px;
	float: left;
	margin-left: 10px;
	background-image: url("../assets/git.png");
	background-size: 100%;
}

#twitter {

	width: 64px;
	height: 64px;
	float: left;
	background-image: url("../assets/twitter.png");
	background-size: 100%;


}

.urls {

	width: 150px;
	margin-left: 50%;
	transform: translateX(-50%);
	display: none;
}
