.background {
	
	width: 100%;
	min-height: 100%;
	position: fixed;
	background-color: red;
	background-image: url("../assets/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#name {
	
	text-align: center;
	margin-top: 250px;
	color: white;
	font-size: 40px;
}

#perfil {
		
	
	width: 150px;
	height: 150px;
	display: none;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: -250px;

}


#twitter {
	
	display: block;
	width: 64px;
	height: 64px;
	margin-left: 65%;
	transform: translateX(-65%);
	background-image: url("../assets/twitter.png");
	background-size: 64px;
	margin-top: 20%;
}

#git {
	display: block;
	width: 64px;
	height: 64px;
	margin-left: 35%;
	transform: translateX(-35%);
	background-image: url("../assets/git.png");
	background-size: 64px;
	margin-top: -4.5%;
	
}