.background {
	
	width: 100%;
	min-height: 100%;
	position: fixed;
	background-color: red;
	background-image: url("../assets/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#name {
	
	text-align: center;
	margin-top: 100px;
	color: white;
	font-size: 40px;
}


#section {

	width: 590px;
	height: 100px;
	margin-left: 50%;
	transform: translateX(-50%);

}


#yo {
	width: 150px;
	
}

#blog {

	width: 150px;
	
}


#contacto {
	width: 150px;
	
	
}



h2 {

	color: white;
	display: block;
	font-size: 2em;
	border: 3px solid white;
	text-align: center;
	height: 40px;

}



@media (min-width: 600px){
 h2 {
 	margin-left: 30px;
 	float: left;
 }
	
}

@media (max-width: 600px){
	h2 {
		margin-left: 50%;
		transform: translateX(-50%);

	}

	#section {

		height: 250px;
	}
}


#git {
	width: 64px;
	height: 64px;
	float: left;
	margin-left: 10px;
	background-image: url("../assets/git.png");
	background-size: 100%;
}

#twitter {

	width: 64px;
	height: 64px;
	float: left;
	background-image: url("../assets/twitter.png");
	background-size: 100%;


}

.urls {

	width: 150px;
	margin-left: 50%;
	transform: translateX(-50%);
	display: none;
}
