#top {
	margin-top: 0px;
	width: 100%;
	height: 50px;
	background-color: grey;
	z-index: 100;
	text-align: center;
	color: white;
	font-size: 20px;

}


.background {
	
	width: 100%;
	min-height: 100%;
	position: fixed;
	background-image: url("../assets/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#name {
	
	text-align: center;
	margin-top: 7%;
	color: white;
	font-size: 2.5em;
	box-shadow: 
}

@media (min-width: 200px) and (min-height: 400px){
	#top {
		display: none;
	}
}

#section {

	width: 590px;
	height: 100px;
	margin-left: 50%;
	transform: translateX(-50%);
	

}


#yo:hover {
	background-color: grey;		
}

#blog:hover {
	background-color: grey;
}


#contacto:hover {
	background-color: grey;
}



h2 {

	color: white;
	display: block;
	font-size: 2em;
	border: 3px solid white;
	text-align: center;
	height: 40px;
	width: 24%;

}



@media (min-width: 600px){
 h2 {
 	margin-left: 35px;
 	float: left;
 }
	
}

@media (max-width: 600px){
	h2 {
		margin-left: 50%;
		transform: translateX(-50%);

	}

	#section {

		height: 250px;
	}
}


#git {
	width: 64px;
	height: 64px;
	float: left;
	margin-left: 10px;
	background-image: url("../assets/git.png");
	background-size: 100%;
}

#twitter {

	width: 64px;
	height: 64px;
	float: left;
	background-image: url("../assets/twitter.png");
	background-size: 100%;


}

.urls {

	width: 150px;
	margin-left: 50%;
	transform: translateX(-50%);
	display: none;
}
